# Frontend
frontend/node_modules/
frontend/.env
frontend/build/
frontend/coverage
frontend/.pnp
frontend/.pnp.js

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

resume-analyzer-key.pem

# Backend
backend/venv/
backend/__pycache__/
backend/instance/
*.pyc
*.pyo
*.pyd
.DS_Store
.env